@using TaskManager.Infrastructure.Constants
@using TaskManager.Presentation.Models;

@model HomeModel

@{
    ViewBag.Title = "Home";
    Layout = Views.Layout;
}

<div id="view-board">
    <div>
        @Html.DropDownListFor(m => m.Sprints, new SelectList(Model.Sprints, "Id", "Description"), "All")
    </div>
    <div id="workitems-grid">
    </div>
</div>

<script type="text/javascript">
    window.homeView = new HomeView()
</script>
