@using TaskManager.Infrastructure.Constants
@using TaskManager.Presentation.Models;

@model HomeModel

@{
    ViewBag.Title = "Home";
    Layout = Views.Dashboard;
}

<div id="view-board">
    <div>
        <div class="inline-block">
            @Html.LabelFor(m => m.Sprints)
            @Html.DropDownListFor(m => m.Sprints, new SelectList(Model.Sprints, "Id", "Description"), "All")
        </div>
        <div class="inline-block">
            @Html.LabelFor(m => m.Employees)
            @Html.DropDownListFor(m => m.Employees, new SelectList(Model.Employees, "UserId", "FullName"), "All")
        </div>
    </div>
    <div id="workitems-grid">
    </div>
</div>

<script type="text/javascript">
    window.homeView = new HomeView()
</script>
